html {
    background-color: rgb(255, 255, 255);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white; 
    border-style: hidden hidden ridge hidden;
    /* border: #fcfcfc; */
    /* border-radius: 10px; */
}

li {
    float: left;
    border-right: none;
    justify-content: center;
  }
 
  li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    height: auto;
  }

  li a:hover:not(.active) {
    background-color: #feeded;
  }
  .active {
    background-color: rgb(255, 255, 255);
  }
  
  .login {
    height: 1em;
    margin-right: 0.5em;
    vertical-align: bottom;
    justify-content: center;
  }

.maincontainer {
    display: flex;
    flex-wrap: wrap;  
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
  width: 40vw;
  height: 40vh;
  border-style: hidden ridge hidden hidden;
}

.createaccount {
    background-color: #FFFFFF;
	display: flex;
	align-items: start;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
  width: 40vw;
  height: 40vh;
  margin: 10px;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 80%;
}

button {
    border: none;
    text-align: start;
    /* border-radius: 5px; */
      padding: 12px 15px;
      margin: 8px 0;
      width: 85%;
    background-color: rgb(228, 24, 140);
    color: white;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
  }